extends layout

block content
		.indexheader
				.dropdown#left
					a(href="#", data-toggle="dropdown").dropdown-toggle 
						i(class="fa fa-bars" aria-hidden="true")

						ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
							li
							a(href="/resultat" target="_blank", tabindex='-1') Result View
							li 
							a(href="/ResultEntering" target="_blank", tabindex='-1') Enter Your Result
							li.divider
							li
							a(href='/error' target="_blank", tabindex='-1') Error page

				#logo 
					.logo
						img(src="logo.jpg")

				

				

				ul.flex-container
					
					li.flex-item 
						p
							span#title Vote information
							br
							br
							br
							span#info All you need to know about the chuch vote.
							div
								a(href="https://www.svenskakyrkan.se/kyrkoval" target="_blank", tabindex='-1') 
									button contact
					li.flex-item 
						p
							span#title Live updates!
							br
							br
							br
							span#info You can see live updates about the church vote here.
							div
								a(href="/resultat" target="_blank", tabindex='-1') 
									button Results

					li.flex-item 
						p
							span#title Voting information 
							br
							br
							br
							span#info Are you a church? You can enter your votes here:
							div
								a(href="/ResultEntering" target="_blank", tabindex='-1') 
									button Enter votes  
					



				script.
					$('.dropdown-toggle').dropdown()

										
