doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

        script(src="/socket.io/socket.io.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="https://use.fontawesome.com/c0110fafc2.js")

        script.
            const socket = io();
    body
        block content
        block error
        block resultat
        block ResultEntering
        script(src="/javascripts/index.js")