extends layout

block ResultEntering

      
    .voteheader
        .dropdown#left
          a(href="#", data-toggle="dropdown").dropdown-toggle 
            i(class="fa fa-bars" aria-hidden="true")

            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
              li
              a(href="/" target="_blank", tabindex='-1') Home
              li 
              a(href="/resultat" target="_blank", tabindex='-1') Result View
              li.divider
              li
              a(href='/error' target="_blank", tabindex='-1') Error page

        #logo 
          .logo
            img(src="logo.jpg")


        div.flex-container1
          .flex-item1
            form#form(action="")
                p#formular Enter Vote result
                #input
                  select#church
                      option(value="Church", selected="true", disabled="true") Choose Church 
                      option(value="Red Church") Red Church
                      option(value="Blue Church") Blue Church
                      option(value="Yellow Church") Yellow Church
                      option(value="Green Church") Green Church
                br
                #input
                  select#party
                      option(value="Party", selected="true", disabled="true") Choose Party &nbsp;
                      option(value="Communists") Communist party
                      option(value="Democrats") Democratic party
                      option(value="Green party") Green party
                      option(value="Pink party") Pink party
                      option(value="övriga") Övriga
                br
                #input
                  input#votes(placeholder="Number of Votes")
                br
                #button
                  button Enter Data

                script.

                  const form = document.getElementById('form');
                  const church = document.getElementById('church');
                  const party = document.getElementById('party');
                  const votes = document.getElementById('votes');

                  // here the data is packed into an object.
                  form.addEventListener('submit', function () {
                    const resultData = {
                      church: church.options[church.selectedIndex].value,
                      party: party.options[party.selectedIndex].value,
                      votes: votes.value
                    };
                    
                    //here the data is sent to the socket server.
                    socket.emit('vote update', resultData);
                    
                    return false;
                  });

        script.
          $('.dropdown-toggle').dropdown()